 
ul{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  }
   
  li{
  float:left
  }
  body{
    background-color: #FEF9EF;
}
h3{
  color: #6ECB63;
} 
   
  a:link, a:visited{
  display:block;
  font-weight:bold;
  color:#FFFFFF;
  background-color:#98bf21;
  width:120px;
  text-align:center;
  padding:4px;
  text-transform:uppercase;
  text-decoration:none;
  }
   
  a:hover, a:active{
  background-color:#7A991A;
  }
  .contact-box{
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
form
{
    margin: 35px;
}
.input-field
{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}
.textarea-field
{
    height: 100px;
    padding-top: 10px;
    border: 1px solid #777;
    
}
.btn
{
    border-radius: 20px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: #47c35a;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
footer{
  background-color: #FF865E;
  color: wheat;
  height: 40px;
  text-align: center;
  margin: 5px;
  top: 100%;
  position: sticky;
}